<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
      <label for="message">Enter your message:</label>
      <input type="text" id="message" name="message" />
      <label for="user">Enter your name:</label>
      <input type="text" id="user" name="user" />
      <input type="submit" />
    </form>
  </body>
</html>
